POSTGRES_DB=stecar
POSTGRES_USER=ativos_ti
POSTGRES_PASSWORD=troque_esta_senha
STECAR_JWT_SECRET=use_uma_chave_aleatoria_com_no_minimo_32_caracteres
STECAR_ADMIN_PASSWORD=defina_uma_senha_forte_para_o_administrador
